<% provide(:title, "ログイン") %>
<div class="form-wrapper">
    <h2 class="form-header">アーティストログイン</h2>
    <%= form_for(:session, url: login_path) do |f| %>
      <ul class="form-parts">
        <li class="first-parts">
          <%= f.label :Ｅメールアドレス %>
          <%= f.email_field :email, placeholder: 'Email' %>
        </li>

        <li class="second-parts">
          <%= f.label :パスワード %>
          <%= f.password_field :password, placeholder: 'Password' %>
        </li>

        <%= f.label :remember_me, class: 'checkbox-inline' do %>
          <%= f.check_box :remember_me %>
          <span>ログイン情報を記憶する</span>
        <% end %>

        <li class="submit-login artist-login">
          <%= f.submit "ログイン", class: "btn btn-primary btn-sm" %>
        </li>
      </ul>
    <% end %>
</div>
