<% provide(:title, "プロフィール編集") %>
<div class="form-wrapper">
  <h2 class="form-header">プロフィール編集</h2>
  <%= form_for(@artist) do |f| %>
    <%= render 'shared/artist_error_messages', object: f.object %>
      <ul class="form-parts">
        <li class="first-parts">
          <%= f.label :名前 %>
          <%= f.text_field :name, placeholder: "Name" %>
        </li>

        <li class="second-parts">
          <%= f.label :Ｅメールアドレス %>
          <%= f.email_field :email, placeholder: "Email" %>
        </li>

        <li class="third-parts">
          <%= f.label :紹介文 %>
          <%= f.text_area :content, placeholder: "Description"%>
        </li>

        <li class="fourts-parts">
          <%= f.label :パスワード %>
          <%= f.password_field :password, placeholder: "Password" %>
        </li>

        <li class="fifth-parts">
          <%= f.label :password_confirmation, "パスワード（確認用）" %>
          <%= f.password_field :password_confirmation, placeholder: "Password(confirmation)" %>
        </li>

        <li class="sixth-parts">
          <%= f.label :プロフィール画像 %>
          <%= f.file_field :image %>
        </li>

        <li class="submit-login">
          <%= f.submit "プロフィール変更", class: "btn btn-primary", style: "margin-top:20px;" %>
        </li>
      </ul>
    <% end %>
</div>
