<% provide(:title, "プロフィール編集") %>
<div class="container">
  <div class="rou">
    <div class="col-md-3 row-space-4">
      <%= link_to "プロフィールを確認する", @artist, class: 'btn btn-default'   %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">プロフィール編集</div>
        <%= form_for(@artist) do |f| %>
          <%= render 'shared/artist_error_messages', object: f.object %>
          
          <div class="form-group">
            <%= f.label :名前 %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :Ｅメールアドレス %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
               
          <div class="form-group">      
            <%= f.label :紹介文 %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :パスワード %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :password_confirmation, "パスワード（確認用）" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          
          <div class="form-gourp">
            <%= f.label :プロフィール画像 %>
            <%= f.file_field :image %>
          </div>
          
          <%= f.submit "プロフィール変更", class: "btn btn-primary", style: "margin-top:20px;" %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>