<header>
  <nav class="container">
    <div class="header-logo">
      <%= link_to 'MusicBox', root_url %>
    </div>
    <div class="header-link">
      <% if logged_in? %>
        <%= link_to 'アーティスト一覧', artists_path %>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
        <%= link_to 'プロフィール', current_user %>
      <% else %>
        <%= link_to '新規登録', new_artist_path %>
        <%= link_to 'ログイン', login_path %>
      <% end %>
    </div>
  </nav>
</header>