<header>
  <nav class="container">
    <div class="header-logo">
      <%= link_to 'MusicBox', root_url %>
    </div>
    <div class="header-link">
      <% if logged_in? %>
        <%= link_to 'アーティスト一覧', artists_path %>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
        <%= link_to 'プロフィール', current_user %>
      <% else %>
        <div class="dropdown">
        	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
        		新規登録
        		<span class="caret"></span>
        	</a>
        	<ul class="dropdown-menu" role="menu">
        		<li role="presentation"><%= link_to 'アーティスト', new_artist_path %></li>
        		<li role="presentation"><%= link_to 'リスナー', new_listener_registration_path %></li>
        	</ul>
        </div>
        <div class="dropdown">
        	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
        		ログイン
        		<span class="caret"></span>
        	</a>
        	<ul class="dropdown-menu" role="menu">
        		<li role="presentation"><%= link_to 'アーティスト', login_path %></li>
        		<li role="presentation"><%= link_to 'リスナー', new_listener_session_path %></li>
        	</ul>
        </div>
      <% end %>
    </div>
  </nav>
</header>