<header>
  <nav class="navbar navbar-default navbar-margin-fix">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'MusicBox', root_url, id: 'logo' %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to 'アーティスト一覧', artists_path %></li>
          <li><%= link_to 'アーティスト詳細', current_user %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <li>
            <div class="dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              新規登録<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'アーティスト', new_artist_path %></li>
                <li><%= link_to 'リスナー', new_listener_registration_path %></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              ログイン<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'アーティスト', login_path %></li>
                <li><%= link_to 'リスナー',  new_listener_session_path %></li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </nav>
</header>
